* {
    box-sizing: border-box;
  }
  
  #kontener {
    background-color: #000;
    color: #fff;
    font-size: 150px;
    height: 100vh;
    position: relative;
    width: 100vw;
  }
  
  .animacja {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
  }
  
  #odliczaniefinal {
    font-size: 140px;
    line-height: inherit;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #odliczanie1, #odliczanie2, #odliczanie3, #odliczanie4, #odliczanie5, #odliczanie6, #odliczanie7, #odliczanie8, #odliczanie9, #odliczanie10, #odliczaniefinal {
    text-align: center;
    visibility: hidden;
    animation-duration: 1s;
    animation-name: znikanie;
    animation-timing-function: ease-in-out
    }
  
  @keyframes znikanie {
    0% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
  
  @keyframes pojawieniesie {
    0%, 100% {
      visibility: visible;
    }
  }
  
  
  #odliczanie9 {
    animation-delay: 1s;
    
    
    ;
  }
  
  #odliczanie8 {
    animation-delay: 2s;
    
    
    ;
  }
  
  #odliczanie7 {
    animation-delay: 3s;
    
    
    ;
  }
  
  #odliczanie6 {
    animation-delay: 4s;  
    
    
    ;
  }
  
  #odliczanie5 {
    animation-delay: 5s;
    
    
    ;
  }
  
  #odliczanie4 {
    animation-delay: 6s;
    
    
    ;
  }
  
  #odliczanie3 {
    animation-delay: 7s;
    
    
    ;
  }
  
  #odliczanie2 {
    animation-delay: 8s;
    
    
    ;
  }
  
  #odliczanie1 {
    animation-delay: 9s;
    
    
    ;
  }
  
  #odliczaniefinal {
    animation-delay: 10s;
    
    animation-iteration-count: infinite;
    animation-name: pojawieniesie;
    ;
  }
  
  #odliczaniefinal span {
      color: red;
  }
  
